@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 247, 233);
    font-family: 'Playfair Display', serif;
}
/* stile titolo e descrizione */
header {
    width: 80%;
    margin: auto;
    text-align: center;
}

.main-title {
    color: rgba(8, 119, 8, 0.981);
    margin-top: 20px;
}

.description {
    margin-top: 30px;
}
/* stile sezione principale */
.container {
    width: 80%;
    margin: auto;
}

.cards-place {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 43px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Stile singola carta, immagini */
.card  {
    width: calc(90% / 3);
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

 .design {
    margin-bottom: 40px;
    background-color: rgb(137, 194, 126);
}

img {
    height: 100%;
    width: 100px;
    
    
}
/* Stile descrizione team member */
 .member {
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
    list-style: none;
    line-height: 25px;
    padding: 0px;
}

.member .name {
    font-weight: 900;
}

.member .email {
    color: rgb(32, 118, 32);
}

